<nav class="navbar navbar-dark navbar-expand-lg bg-dark">
  <div class="container-fluid">
    <div class="navbar-brand">
      <img src="/assets/dokkiLogo.png" height="30px" />
      &nbsp;Dokki University
    </div>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbar-content"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar-content">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/transaction/loan">Loan Equipment</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/transaction/returns"
            >Return Equipment</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/admin">Admin Menu</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/user/addUser">Add User</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
