<div class="mt-5 container">
	<div class="alert alert-danger">
		<h4 class="alert-heading"><%= err.message %></h4>
		<p><%= err.statusCode %></p>
		<hr>
		<div class="alert alert-danger">
			Click <u>
				<btn class="alert-link" href="#" onclick="history.back()">this link</btn>
			</u> to go back to the previous page.
		</div>
	</div>
</div>